# Rename this file to just .env

# Discord Bot Credentials
PREFIX="!" #Enter in your own command prefix, default is !
TOKEN=""

# Database Credentials
MONGODB_URI=""

# Optional Credentials
# SMITE Credentials
DEV_ID=""
HIREZ=""

# Bungie Credentials
BUNGIE=""